.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

form div {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #337ab7;
  border-color: #337ab7;
  color: #fff;
}

p {
  margin-top: 20px;
  color: red;
}
.App {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  background: #d2d6de;
}
h2 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}
.text-center{
  text-align: center !important;
}
.main-layout {
  /* display: flex; */
  /* height: calc(100% - 60px); */
}

.sidebar {
  width: 250px;
  background-color: #607ea0;
  color: white;
  /* padding: 10px; */
  height: auto;
  float: left;
  font-size: 14px;
  line-height: 1;
  /* height: 615px; */
  height: 100%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  border-bottom: 1px solid;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 5px 8px 15px;
    display: block;
    margin-bottom: 5px;
}

.content {
  flex: 1;
  padding: 20px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.chart {
  margin: 20px;
  width: 400px;
  height: 400px;
}
.login-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.login-box-msg {
  margin: 0;
  font-size: 14px;
  text-align: center;
  padding: 0 20px 20px 20px;
  color: #666;
}
.form-control {
  display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    width: 100%;
    position: relative;
    flex: 1 1 auto;
    width: auto;
    min-width: 90%;
    font-size: 14px;
}
.main-footer-renamed {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
  max-width: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  clear:both;
  font-size: 12px;
}
.dassboardImg {
  width: 300px;
  max-height: 200px;
  float: left;
  padding-right: 15px;
}
.dassboardImgpadding {
  padding-top: 15px;
}